body, html {
    height: 100%;
    margin: 0;
}
.nav{
    width: 700px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    top: 40px;
    left: 28%;
    background-color: rgba(255, 255, 255, 0.721);
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.3);
}
.nav h2{
    font-size: 23px;
    position: absolute;
    left: 10px;
    top: -10px;
}
.card-container{
    display: flex;
    position: relative;
    top: 150px;
    right: 32px;
}
.card{
    width: 300px;
    height: 400px;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
    left: 20%;
    transition: 0.3s;
}
.card-text{
    position: relative;
    top: 60%;
    left: 10px;
}
.card-text h1 a{
    text-decoration-line: none;
    color: black;
}
.card2{
    width: 300px;
    height: 400px;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
    left: 23%;
    transition: 0.3s;
}
.card3{
    width: 300px;
    height: 400px;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: absolute;
    top: 27%;
    left: 63%;
    transition: 0.3s;
}
.
.card:hover{
    box-shadow: 0px 20px 35px #0080ff;
}
.card2:hover{
    box-shadow: 0px 20px 35px #ffff00cd;
}
.card3:hover{
    box-shadow: 0px 20px 35px #892be2cc;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
  }
